@import '_colors.scss';
@import '_breakpoints.scss';

* {
  transition: all 0.2s ease-in-out;
}

/* CSS to change the background color of selected text */
::selection {
  background: $yellow; /* your chosen background color */
  color: $pink; /* optional: change the text color */
}

/* For browser compatibility */
::-moz-selection {
  background: $yellow; /* your chosen background color */
  color: $pink; /* optional: change the text color */
}

body,
html {
  overflow-x: hidden;
  display: block;
  color: $gray-200;
  background: $gray-900;
  letter-spacing: -0.5px;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
a {
  color: $gray-100;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: $gray-300;
}
h1 {
  margin: 0;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 100% */
}
h4 {
  display: inline-block; // Or 'inline', depending on your layout needs
  margin: 0;
  font-weight: 400;
  &:after {
    content: '';
    background-image: url('/media/externalLink.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-left: 4px; // Space between the text and the icon
    display: inline-block;
    vertical-align: middle;
  }
}

h6 {
  color: $gray-500;
  margin: 0;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
}

header {
  border-bottom: 1px solid $gray-800;
  display: flex;
  max-width: 100%;
  padding: 16px 40px;
  justify-content: space-between;
  align-items: center;
  .fullTitle {
    display: flex;
    flex-direction: row;
    gap: 8px;
    .avatar {
      border-radius: 40px;
      height: 40px;
      width: 40px;
    }
  }
  .titleCluster {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .pageTitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin: 0;
    @include for-phone-only {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .subTitle {
    /* Body */
    margin: 0;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 150% */
    color: $gray-400;
  }
  .contactCluster {
    display: flex;
    flex-direction: row;
    gap: 4px;
    a {
      width: 40px;
      height: 40px;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      &:hover {
        background-color: $gray-800;
      }
      @include for-phone-only {
        width: 32px;
        height: 32px;
      }
    }
  }
  @include for-phone-only {
    padding: 24px 16px;
  }
}

.blurb {
  max-width: 560px;
  padding: 0 0 40px 0;
  @include for-phone-only {
    padding: 24px 16px 40px 16px;
  }
}

section,
footer {
  padding: 40px;
  max-width: 100%;
  border-bottom: 1px solid $gray-800;

  .caseStudyEntry {
    padding: 80px 0;
    border-bottom: 1px solid $gray-700;
  }
  .entry {
    padding: 56px 0;
    &:first-of-type {
      padding-top: 0px;
    }
    @include for-phone-only {
      padding: 40px 0 16px 0;
      border-bottom: none;
    }
  }
  .entryImage {
    max-width: 100%;
    height: auto;
    margin: 0 0 16px 0;
    border-radius: 16px;
    @include for-phone-only {
      border-radius: 0px;
    }
  }

  .entryBody {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @include for-phone-only {
      flex-direction: column;
    }
  }

  .entryBody__small {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .entryInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include for-phone-only {
      padding: 0 16px;
    }
  }

  .entryBlock {
    width: 256px;
    @include for-phone-only {
      width: 320px;
    }
  }

  .olderWork__row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;

    @include for-phone-only {
      flex-direction: column;

      .entryInfo {
        padding-bottom: 24px;
      }
      padding-bottom: 24px;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
  @include for-phone-only {
    padding: 0 0 0 0;
  }
}

.sectionTitle {
  margin-bottom: 24px;
  @include for-phone-only {
    margin: 16px;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $gray-500;
  @include for-phone-only {
    padding: 16px;
  }
}

.altBG {
  background-color: $gray-800;
  padding-top: 40px;
  @include for-phone-only {
    padding-top: 0px;
    padding-bottom: 40px;
  }
}

.extraBump {
  @include for-phone-only {
    padding-top: 8px;
  }
}

.caseStudySection {
  display: block;
  padding: 40px 0;
}
.caseStudyTitle {
  display: block;
  margin: 0 0 24px 40px;
  color: pink;
  @include for-phone-only {
    margin-left: 0;
  }
}

.caseStudyRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-x: scroll;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  max-width: calc(100vw - 40px);
  @include for-phone-only {
    max-width: 100vw;
    padding-left: 16px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.caseStudy {
  width: 256px;
  padding: 0 0 16px 0;
  border-radius: 16px;
  border: 1px solid $gray-800;
  height: 100%;

  .title {
    font-weight: 400;
    margin: 8px 0 16px 0;
    &:after {
      display: none;
    }
  }
  .thumb {
    height: 200px;
    width: 256px;
    border-radius: 16px 16px 0 0;
  }
  &:hover {
    background-color: $gray-800;
    border: 1px solid $gray-700;
    cursor: pointer;
    .thumb {
      mix-blend-mode: exclusion;
    }
    .title {
      text-decoration: underline;
    }
  }
  @include for-phone-only {
  }
}

.experienceSection {
  padding-bottom: 40px;
}

.smallBlock {
  max-width: 224px;
  padding: 0 16px;
}

.navBar {
  padding: 16px 40px;
  border-bottom: 1px solid $gray-800;
  display: flex;
  flex-direction: row;
  @include for-phone-only {
    padding: 16px;
    border-bottom: none;
  }
}

.nav {
  color: $gray-500;

  /* Body */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 80px;
  background: linear-gradient(180deg, #171717 0%, #262626 99.97%);
  @include for-phone-only {
    padding: 0 0 40px 0;
  }
}

.heroImage {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.heroTitleGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  & > p {
    max-width: 400px;
  }
  @include for-phone-only {
    padding: 16px;
    & > h1 {
      font-size: 40px;
      line-height: 56px;
    }
  }
}

.overviewSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
  background: linear-gradient(0deg, #171717 0.03%, #262626 100.03%);
  @include for-phone-only {
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }
}
.overviewImage {
  width: auto;
  height: 600px;
  flex-shrink: 0;
  @include for-phone-only {
    height: auto;
    width: 100%;
  }
}
.image {
  border-radius: 16px;
  @include for-phone-only {
    border-radius: 0;
  }
}

.overviewCopy {
  max-width: 400px;
  & > p {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    @include for-phone-only {
      font-size: 20px;
      line-height: 32px;
    }
  }
  @include for-phone-only {
    padding: 16px 16px 40px 16px;
  }
}
.overviewCards {
  border-bottom: 1px solid $gray-700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  background: linear-gradient(180deg, #171717 -0.08%, #262626 99.92%);
  @include for-phone-only {
    padding: 60px 0;
  }
}

.cardsInner {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 0 auto;
  @include for-phone-only {
    flex-direction: column;
    padding: 16px;
  }
}

.overviewCard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
  width: 256px;
  .overviewCardTitle {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: left;
    align-items: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 160% */
    letter-spacing: -0.6px;
  }
  & > p {
    color: $gray-300;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  @include for-phone-only {
    width: 100%;
  }
}

.textBlock {
  min-width: 256px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include for-phone-only {
    padding: 16px;
    max-width: 100%;
  }
}
.caseStudyEntrySection {
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;

  @include for-phone-only {
    flex-direction: column;
    gap: 0;
    padding: 0 0 40px 0;
  }
}
.entryImagesm {
  max-width: 560px;
  height: auto;
  margin: 0 0 16px 0;
  border-radius: 16px;
  @include for-phone-only {
    border-radius: 0;
    margin: 0;
  }
}
.entryImageshort {
  width: auto;
  max-height: 440px;
  margin: 0 0 16px 0;
  border-radius: 16px;
  @include for-phone-only {
    border-radius: 0;
    margin: 0;
  }
}
.musicPlayers {
  border-bottom: 1px solid $gray-700;
  border-top: 1px solid $gray-700;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #262626 0%, #171717 50%, #262626 100%);
}
.musicPlayersEntrySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}

.musicPlayerShowcase {
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 100vw;
  display: flex;
  align-items: center;
}

.hideScroll {
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.musicPlayerShowcase .imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  gap: 40px;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.musicPlayerShowcase img {
  display: inline-block;
}

.tabletFinal {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Set the height of the section */
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 80px 40px;
  @include for-phone-only {
    height: 100%;
  }
}

.tabletFinal video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the container without losing aspect ratio */
  mix-blend-mode: soft-light;
}

.overviewCopyFinal {
  position: relative;
  z-index: 2; /* Ensure text appears above the video */
  color: white; /* Adjust text color for readability */
  text-align: center;
  max-width: 80%; /* Adjust the width as needed for better readability */
  padding: 20px; /* Add padding for spacing */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Adds a semi-transparent overlay for better text readability */
}
.overlayText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.backward {
  @include for-phone-only {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}

hr {
  width: 20%;
  height: 3px;
  background-color: $gray-800;
  border: none;
  visibility: hidden;
  margin: 24px 0 0 0;
  @include for-phone-only {
    visibility: initial;
  }
}

canvas#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gradient01 {
  background: linear-gradient(180deg, #171717 -0.08%, #262626 99.92%);
}

.gradient02 {
  background: linear-gradient(0deg, #171717 0.03%, #262626 100.03%);
}

.borderTop {
  border-top: 1px solid $gray-700;
}
.borderBottom {
  border-bottom: 1px solid $gray-700;
}
