rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.uid == 'Uvq9HH6dLhNtgUXrg7Patpw3Uqi2';
    }

    match /drawings/{drawingId} {
      allow read: if true;
      allow create, update, delete: if isOwner();
    }
  }
}
